<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HalaIo - Detect Face</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        async function uploadImage(event) {
            const fileInput = document.getElementById('file-input');
            const formData = new FormData();
            formData.append('face_image', fileInput.files[0]);

            const response = await fetch('/tools/face-detect/', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();

            if (result.error) {
                alert(result.error);
                return;
            }

            const imgElement = document.getElementById('result-image');
            imgElement.src = `data:image/jpeg;base64,${result.base64_image}`;
        }
    </script>
</head>

<body>
    <header>
        <div>
            <h1>Detect Faces from Your Image</h1>
        </div>
        <div>
            <a href="/face-docs/" class="docs-link">Docs</a>
        </div>
        <br>
        <div>
            <a href="/face-comapre/" class="docs-link">Compare Face</a>
        </div>

    </header>
    <main>
        <img id="result-image" src="data:image/jpeg;base64,{{ initial_base64_image }}" alt="Your image will appear here">
        <input type="file" id="file-input" name="face_image" accept="image/*" onchange="uploadImage(event)">
        <label for="file-input">Try</label>
    </main>
</body>

</html>